*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.out
*.exe
*.out
*.app
algo
cmake-build-debug/*
CMakeFiles/*
algo_test
CMakeCache.txt
Makefile
algo.cbp
algo
cmake_install.cmake
.idea/*
.idea/workspace
cmake-build-debug/
.idea/
